/*-- CSS Reset --*/ 
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*-- Start main styling --*/

body {
    background: #f7f7f7;
    color: #333333;
    font-family: baskerville-urw, serif;
}

section, header {
    width: 80;
    max-width: 700px;
    margin: auto;
}

section, header {
    margin-bottom: 4rem;
}

p, blockquote {
    padding: 2rem 0 .5rem 0;
    line-height: 1.3;
}

h1, h2 {
    color: rgb(112, 3, 213);
}

h1 {
    font-size: 5.653rem;
    margin-top: 5rem;
    padding-bottom: 0;
}

h2{
    font-size: 1.999;
    margin: 1rem 0 3rem 0;
}

h3, h4, h5 {
    color:rgb(112, 3, 213);
}

h3, h4, h5 {
    font-size: 2rem;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color: rgb(112, 3, 213);
}

blockquote cite {
    font-style: normal;
    font-size: 1.5rem;
    color: #333333;
}

.leader {
    text-transform:uppercase;
}
/*-- Styling Links --*/
a {
    color:rgb(112, 3, 213);
    text-decoration: none;
}

a:hover {
    color: #333333
    border-bottom:
}

/*-- Navigation --*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0%;
    width: 100%;
    background-color: rgb(112, 3, 213);
    padding: 1.5rem 0;
    font-size: 0.75rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {color: #f7f7f7;}

nav a:hover {
    border-bottom: none;
    color: rgb(134, 102, 168);
    transition: all 0.3s ease-;
}

.gridimage {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/*--Styling table --*/
table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2rem;
    width: 100%;
}

caption {
    margin: 1.5rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th {
    text-transform: lowercase;
    font-weight: normal;
    text-align: left;
    color:#f7f7f7;
    background: rgb(134, 102, 168);
    border: 2px solid #f7f7f7;
}

th, td {padding: 0.4rem}

table, td {
    background:rgb(134, 102, 168);
    border: 2px solid #f7f7f7;
}

/*-- images --*/
img {
    display: block;
    margin: 8rem 0 2rem 0;
    padding: 0;
    max-width: 100%;
}

hr{
    margin: 100px 0;
    height: 1px;
    background:rgb(112, 3, 213);
    color:rgb(112, 3, 213);
    border: 0 none;
}

/*--Styling the footer--*/
footer {
    background: rgb(112, 3, 213);
    text-align: center;
    font-size: 0.75rem;
    color: #f7f7f7;
    padding: 4em 0 3em 0
    }
    
    footer p {
    width: 80%;
    margin: auto;
    }
    
    .connections{
    position: relative;
    margin: 0 auto;
    }
    .connections ul{
    margin: 0;
    padding: 0;
    }
    .connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
    }
    .connections a:link{
    border-bottom: none;
    }
    .connections img,
    .connections svg{
    border: none;
    }
    .connections a:hover img,
    .connections a:hover svg{
    border-bottom: none;}
    .connections svg {
    margin: 1em auto;}
    .connections a:hover svg path {
    fill: #D8C385;
    transition: all 0.2s ease-in-out;}
    footer .connections a:hover svg path {
    fill: #D8C385;
    transition: all 0.2s ease-in-out;} 